@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700&display=swap');


html {
    font-size: calc(0.5em + 1vw);
}

body {
    /* font-family: 'Roboto', sans-serif !important; */
    font-family: 'Roboto Slab', serif !important;
}


/* * {
  border: 1px solid #f00 !important;
} */


/* .slide-content .scroller {
  width: 1024px;
} */


body {
    background-color: var(--main-bg-color);
}

h1 {
    font-size: 2.2rem !important;
    font-weight: 100 !important;
}

h2 {
    font-size: 1.8rem !important;
    font-weight: 100 !important;
}

h3 {
    font-size: 1.8rem !important;
    font-weight: 100 !important;
}

h4 {
    font-size: 1.6rem !important;
    font-weight: 100 !important;
}

h5 {
    font-size: 1.4rem !important;
    font-weight: 100 !important;
}

h6 {
    font-size: 1.2rem !important;
    font-weight: 100 !important;
}


/* burger menu icon */

.navbar {
    width: 100vw;
    height: 8vh;
    z-index: 100;
    position: fixed !important;
    
}

.navbar:before {
    content:"";
    width: 100%;
    height: 100%;
    position: absolute;
    outline: none;
    box-shadow: none;
    left: 0%;
    top: 0%;
    transform: translateY(-100%);
    /* transition: transform 0.5s ease-in-out; */
    transform-origin: bottom;
    
}

.navbar.shownavbackground:before {
    background-color: #062B64 !important;
    transform: translateY(0%);
    transition: transform 0.5s ease-in-out;
}

.navbar.hidenavbackground:before {
    background-color: #062B64 !important;
    transform: translateY(-100%);
    transition: transform 0.5s ease-in-out;
}

.navbar-toggler {
    color: white !important;
    border: rgba(255,255,255,.1) !important;
    z-index: 100;
    transition: 0.5s ease-in-out;
    /* transition-property: left; */
    transform: translateX(0%);
}

.navbar-toggler-slidein {
    transform: translateX(550%);
}

.navbar select {
    color: white !important;
    background-color: rgba(0, 0, 0, 0) !important;
}

.navbar-brand img {
    width: auto;
    height: 100%;
}

nav #navbarResponsive {
    width: 60%;
    height: 100vh;
    top: 0vh;
    left: -60%;
    z-index: 10;
    transition: 0.5s ease-in-out;

    /* background: linear-gradient(rgba(10,49,110),rgba(10,49,110,0.9)); */
    /* background: #052c6b; */
}

nav.navbar  .language-selection a {
    font-size: 0.9rem!important;
    font-weight: 700!important;
    cursor: pointer;
}


nav.navbar .iconcontainer img{
    width: 20px;
    height: 20px;
}

nav.navbar .iconcontainer .badge{
    height: 15px !important;
    font-size: 0.6rem;
    top: 30%;
    left: 60%;
}

.dropdown-menu {
    right: 0% !important;
    left: auto !important;
}

nav.navbar .dropdown-item .iconcontainer img{
    width: 15px;
    height: 15px;
}

nav.navbar .dropdown-item .iconcontainer img{
    width: 15px;
    height: 15px;
}

nav.navbar .dropdown-item .message-contents p,
nav.navbar .dropdown-item .coupon-contents p {
    max-width: 100%;
    overflow-wrap: break-word!important;
    white-space: normal!important;
    width: 100%!important;
    font-size: 0.8rem;
}

nav.navbar .dropdown-item .message-contents h6,
nav.navbar .dropdown-item .coupon-contents h6 {
    text-align: left;
    white-space: normal!important;
    /* overflow-wrap: break-word!important; */
}

nav.navbar .dropdown .messages-container {
    overflow-y: scroll !important;
    height: 200px!important;
    width: 200px !important;
    margin: 0 0!important;
}

nav.navbar .dropdown .coupons-container {
    overflow-y: scroll !important;
    height: 250px!important;
    width: 250px !important;
    margin: 0 0!important;
}

nav.navbar .dropdown .coupon-image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

nav.navbar  .dropdown .messages-button-container,
nav.navbar  .dropdown .coupons-button-container {
    margin: 0 0!important;
}

nav.navbar .signedin   {
    display: flex;
}

nav.navbar #userDropdownMenuButton i  {
    transition: 0.5s ease-in-out;
}

nav.navbar .dropdown > a {
    border-radius: 0;
}

nav.navbar .dropdown > a:focus:after,
nav.navbar .dropdown > a:hover:after {
    content:"";
    width: 100%;
    height: 100%;
    position: absolute;
    border-bottom: 3px solid white !important;
    outline: none;
    box-shadow: none;
    left: 0%;
    top: 0%;
}

nav.navbar .dropdown > a {
    border-radius: 0;
    outline: 1;
    box-shadow: none;
}

/* nav.navbar #userDropdownMenuButton *  {
    pointer-events: none;
} */

/* nav.navbar .dropdown-menu {
    left: 78%;
} */

nav #navbarResponsive .navbar-top {
    height: 70%;
}
nav #navbarResponsive .navbar-middle {
    /* height: 10%; */
}
nav #navbarResponsive .navbar-search {
    /* height: 20%; */
}

nav #navbarResponsive .empty-banner {
    height: 8vh;
}

nav #navbarResponsive .nav-search .form-control{
    font-size: 1rem !important;
}

nav #navbarResponsive .nav-search button i{
    font-size: 0.8rem !important;
}


.slidein {
    transform: translateX(100%);
}

nav #navbarResponsive .navmenulink div i {
    pointer-events: none;
    transition: 0.5s ease-in-out;
}
nav #navbarResponsive .navmenulink i {
    pointer-events: none;
    /* transition: 0.5s ease-in-out; */
}
nav #navbarResponsive .navmenulink p{
    font-weight: 700!important;
    pointer-events: none;
}

.menulinkiconrotate {
    transform: rotate(90deg);
}

.navbar ul {
    list-style: none;
}
/* Nav Bar */


/* Carousel */

.mainCarouselContainer {
    height: 50vh;
    width: 100vw;
    overflow: hidden;
}

.mainCarouselContainer #carouselExampleCaptions {
    width: 100% !important;
    height: 100% !important;
    
    text-shadow: black 0px 0px 2px;

}

.mainCarouselContainer .carousel-inner {
    width: 100% !important;
    height: 100% !important;
}

.mainCarouselContainer .carousel-item {
    width: 100% !important;
    height: 100% !important;
}

.mainCarouselContainer .carousel-item:before {
    z-index: 0;
    background: radial-gradient(ellipse at center,transparent 0,#000 100%);
}

.mainCarouselContainer .carousel-caption h3{
    font-size: 3rem !important;
    font-weight: 300 !important;
}

.mainCarouselContainer .hero-image {
    width: auto !important;
    height: 100% !important;
    background-size: cover;
    background-position: center;
}

.mainCarouselContainer .hero-image:before {
    position: absolute;
    left: 0!important;
    right: 0!important;
    width: 100%!important;
    height: 100%!important;
    background-color: rgba(0,0,0,.4)!important;
    content: ""!important;
}

.mainCarouselContainer .carousel-indicators {
    bottom: 0% !important;
}

.mainCarouselContainer .carousel-caption {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.mainCarouselContainer .carousel-caption p{
    font-size: 1.5rem !important;
    font-weight: 100 !important;
}

form {
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);
    padding: 1em;
    height: 15vh;
    width: 100%;
}

.form-group {
    height: 100%;
    margin: 0;
    width: 35%;
    padding-right: 1.5em;
    margin-bottom: 0 !important;
}

.form-control {
font-size: 1.1rem !important;
}

.form-group * {
    margin: 0;
}

.main-search form button {
    height: 100%;
    margin: 0;
    width: 20%;
}

.main-search form button span i{
    font-size: 1.7rem !important;
    font-weight: 100 !important;
}

/* Offers Icons */

#offerscontainer {
    height: 15vh;
}

#offerscontainer > div {
    transition: transform .5s ease-in-out;
    -webkit-transition: transform .5s ease-in-out;
}

/* The selct elements */

nav.navbar .my-dropdown .my-dropdown-menu {
    bottom: 50%;
}

nav.navbar .my-dropdown.active:hover,
nav.navbar .my-dropdown.active {
    border-radius: 0 0 0.2rem 0.2rem;
}

nav.navbar .my-dropdown .my-dropdown-menu {
    border-radius: 0.2rem 0.2rem 0 0;
}

nav.navbar .my-dropdown {
    font-size: 0.875rem;
}

nav.navbar .my-dropdown.active .select > i {
    transform: rotate(90deg)
}

.my-dropdown {
    width: 300px;
    display: inline-block;
    background-color: #fff;
    border-radius: 0.2rem;
    box-shadow: 0 0 2px rgb(204, 204, 204);
    transition: all .5s ease;
    position: relative;
    font-size: 14px;
    color: #474747;
    height: 100%;
    text-align: left
  }

  .my-dropdown .select {
      cursor: pointer;
      display: block;
      padding: 10px;
  }
  .my-dropdown .select > i {
      font-size: 13px;
      color: #888;
      cursor: pointer;
      transition: all .3s ease-in-out;
      float: right;
      line-height: 20px
  }
  .my-dropdown:focus {
    outline: 0;
  }
  .my-dropdown:active {
    outline: 0;
    background-color: #f8f8f8
  }
  .my-dropdown.active:hover,
  .my-dropdown.active {
    outline: 0;
      /* box-shadow: 0 0 4px rgb(204, 204, 204); */
      border-radius: 0.2rem 0.2rem 0 0;
      background-color: #f8f8f8
  }
  .my-dropdown.active .select > i {
      transform: rotate(-90deg)
  }
  .my-dropdown .my-dropdown-menu {
      position: absolute;
      background-color: #fff;
      width: 100%;
      left: 0;
      margin-top: 1px;
      box-shadow: 0 1px 2px rgb(204, 204, 204);
      border-radius: 0 0px 0.2rem 0.2rem;
      overflow: hidden;
      display: none;
      max-height: 144px;
      overflow-y: auto;
      z-index: 9
  }
  .my-dropdown .my-dropdown-menu li {
      padding: 10px;
      transition: all .2s ease-in-out;
      cursor: pointer
  } 
  .my-dropdown .my-dropdown-menu {
      padding: 0;
      list-style: none
  }
  .my-dropdown .my-dropdown-menu li:hover {
      background-color: #f2f2f2
  }
  .my-dropdown .my-dropdown-menu li:active {
      background-color: #e2e2e2
  }
  
/* Collapse */

#myCollapse .card-body {
    min-height: 200px;
}


/* Icon carousel */

.controls-top {
    position: absolute;
    width: 95%;
    display: flex;
    justify-content: space-between;
    top: 50%;
    z-index: 10;
}


/* #iconCarousel .active, 
#iconCarousel .carousel-item-next, 
#iconCarousel .carousel-item-left,
#iconCarousel .carousel-item-prev, 
#iconCarousel .carousel-item-right
{
  display: flex;
  overflow: hidden;

}

#iconCarousel .carousel-item-left.active {
  transform: translateX(-16.66%);

}

#iconCarousel .carousel-item-right.active {
  transform: translateX(16.66%);

}

#iconCarousel .carousel-item-next {
  transform: translateX(16.66%);

}

#iconCarousel .carousel-item-prev {
  transform: translateX(-16.66%);
}

#iconCarousel .carousel-item-left,
#iconCarousel .carousel-item-right {
  transform: translateX(0);

} */

#iconCarousel .carousel-item a div {
    font-size: 0.7em;
    font-weight: 300 !important;
}

#iconCarousel .carousel-item a i {
    font-size: 2em;
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.item {
    width: 200px;
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
}

.item div {
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: center;
    
}

.item i {
    font-size: 2em;
}


/* Card carousel */

.controls-top {
    position: absolute;
    width: 95%;
    display: flex;
    justify-content: space-between;
    top: 50%;
    z-index: 10;
}


/* .singleItemSlideCarousel .active, 
.singleItemSlideCarousel .carousel-item-next, 
.singleItemSlideCarousel .carousel-item-left,
.singleItemSlideCarousel .carousel-item-prev, 
.singleItemSlideCarousel .carousel-item-right
{
  display: flex !important;
  overflow: hidden;
}

.singleItemSlideCarousel .carousel-item-left.active {
  transform: translateX(-33.3%) !important;

}

.singleItemSlideCarousel .carousel-item-right.active {
  transform: translateX(33.3%) !important;

}

.singleItemSlideCarousel .carousel-item-next {
  transform: translateX(33.3%) !important;

}

.singleItemSlideCarousel .carousel-item-prev {
  transform: translateX(-33.3%) !important;

}

.singleItemSlideCarousel .carousel-item-left,
.singleItemSlideCarousel .carousel-item-right {
  transform: translateX(0) !important;

} */


/* ////////////////////////////////////////////////////////////// */
/* Carousel heades */

/* #newoffers h2 {
    font-size: 1.5rem !important;
    font-weight: 100 !important;
} */


/* Carousel handling */

.singleItemSlideCarousel .active,
.singleItemSlideCarousel .carousel-item-next,
.singleItemSlideCarousel .carousel-item-left,
.singleItemSlideCarousel .carousel-item-prev,
.singleItemSlideCarousel .carousel-item-right {
    display: flex !important;
    overflow: hidden;
}


/* One item in carousel */

.singleItemSlideCarousel .carousel-item-left.active.oneItem {
    transform: translateX(-100%) !important;
}

.singleItemSlideCarousel .carousel-item-right.active.oneItem {
    transform: translateX(100%) !important;
}

.singleItemSlideCarousel .carousel-item-next.oneItem {
    transform: translateX(100%) !important;
}

.singleItemSlideCarousel .carousel-item-prev.oneItem {
    transform: translateX(-100%) !important;
}

.singleItemSlideCarousel .carousel-item-left.oneItem,
.singleItemSlideCarousel .carousel-item-right.oneItem {
    transform: translateX(0) !important;
}


/* Two items in carousel */

.singleItemSlideCarousel .carousel-item-left.active.twoItem {
    transform: translateX(-50%) !important;
}

.singleItemSlideCarousel .carousel-item-right.active.twoItem {
    transform: translateX(50%) !important;
}

.singleItemSlideCarousel .carousel-item-next.twoItem {
    transform: translateX(50%) !important;
}

.singleItemSlideCarousel .carousel-item-prev.twoItem {
    transform: translateX(-50%) !important;
}

.singleItemSlideCarousel .carousel-item-left.twoItem,
.singleItemSlideCarousel .carousel-item-right.twoItem {
    transform: translateX(0) !important;
}


/* Three items in carousel */

.singleItemSlideCarousel .carousel-item-left.active.threeItem {
    transform: translateX(-33.33%) !important;
}

.singleItemSlideCarousel .carousel-item-right.active.threeItem {
    transform: translateX(33.33%) !important;
}

.singleItemSlideCarousel .carousel-item-next.threeItem {
    transform: translateX(33.33%) !important;
}

.singleItemSlideCarousel .carousel-item-prev.threeItem {
    transform: translateX(-33.33%) !important;
}

.singleItemSlideCarousel .carousel-item-left.threeItem,
.singleItemSlideCarousel .carousel-item-right.threeItem {
    transform: translateX(0) !important;
}


/* Four items in carousel */

.singleItemSlideCarousel .carousel-item-left.active.fourItem {
    transform: translateX(-25%) !important;
}

.singleItemSlideCarousel .carousel-item-right.active.fourItem {
    transform: translateX(25%) !important;
}

.singleItemSlideCarousel .carousel-item-next.fourItem {
    transform: translateX(25%) !important;
}

.singleItemSlideCarousel .carousel-item-prev.fourItem {
    transform: translateX(-25%) !important;
}

.singleItemSlideCarousel .carousel-item-left.fourItem,
.singleItemSlideCarousel .carousel-item-right.fourItem {
    transform: translateX(0) !important;
}


/* Six items in carousel */

.singleItemSlideCarousel .carousel-item-left.active.sixItem {
    transform: translateX(-16.66%) !important;
}

.singleItemSlideCarousel .carousel-item-right.active.sixItem {
    transform: translateX(16.66%) !important;
}

.singleItemSlideCarousel .carousel-item-next.sixItem {
    transform: translateX(16.66%) !important;
}

.singleItemSlideCarousel .carousel-item-prev.sixItem {
    transform: translateX(-16.66%) !important;
}

.singleItemSlideCarousel .carousel-item-left.sixItem,
.singleItemSlideCarousel .carousel-item-right.sixItem {
    transform: translateX(0) !important;
}


/* ////////////////////////////////////////////////////////////// */


/* Slick Carousel */

.slick-controls a {
    z-index: 10;
    width: 5%;
    height: 100%;
}

/* .slick-controls.hidecontrols {
    display: none !important;
} */

.slick-list {
    /* margin-left: 3rem !important;
    margin-right: 3rem !important; */
    width: 95% ;
    display: flex ;
}



.slick-track {
    display: flex;
    width: 100% ;
    justify-content: space-around;
    padding: 1em 0;
    
}

.slick-arrow {
    display: flex;
}

.mySlickCarousel .slick-carousel-item {
    display: flex !important;
    justify-content: center;
}

.mySlickCarousel .slick-carousel-item {
    display: flex !important;
    justify-content: center;
}

/* Slick Icon Carousel */

.mySlickCarousel.icon-carousel .icon-item  {
    font-family: Roboto,sans-serif !important;

    width: 100px;
    height: 100px;
    min-height: 100px;
    min-width: 100px;
}

.mySlickCarousel.icon-carousel .icon-item .icon-text  {
    font-size: 0.7em;
    font-family: 'Roboto Slab', serif !important;
}



/* Small Coupon */



.mySlickCarousel.small-coupon-carousel .card {
    font-family: Roboto,sans-serif !important;

    width: 250px;
    height: 500px;
    min-height: 500px;
    min-width: 250px;
}

.mySlickCarousel.small-coupon-carousel .card-head {
    background-size: 180%!important;
    background-position: 50%!important;
    background-repeat: no-repeat;
    

    transition: background-size .3s ease-in;
    -webkit-transition: background-size .3s ease-in;
}

.mySlickCarousel.small-coupon-carousel .card-head:before {
    z-index: 0;
    background: radial-gradient(ellipse at center,transparent 0,#000 100%);
}

.mySlickCarousel.small-coupon-carousel .slick-carousel-item:hover .card-head {
    background-size: 200%!important;
}

.mySlickCarousel.small-coupon-carousel .slick-carousel-item:hover .card-head:after {
    content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  border-bottom: 5px solid #E6C65B;
  pointer-events: none;
  top: -62%;
}

.mySlickCarousel.small-coupon-carousel .card .card-bottom-footer .logo {
    width: 30px;
    height: 30px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.mySlickCarousel.small-coupon-carousel .card-head .head-icons-container .head-icon {
    width: 25px;
    height: 25px;
}

.mySlickCarousel.small-coupon-carousel .card .card-bottom-footer .price,
.mySlickCarousel.small-coupon-carousel .card .card-bottom-footer .rating-display {
    font-size: 1.3rem !important;
    font-weight: 900 !important;
}

/* Large Coupon  */

.mySlickCarousel.large-coupon-carousel .card {

    font-family: Roboto,sans-serif !important;
    width: 300px;
    min-width: 300px;
    height: 300px;
    min-height: 300px;

    background-size: 180%!important;
    background-position: 50%!important;
    background-repeat: no-repeat;

    text-shadow: black 0px 0px 5px;
    /* -webkit-text-stroke: 1px lightslategray; */


    transition: background-size .3s ease-in;
    -webkit-transition: background-size .3s ease-in;

}


.mySlickCarousel.large-coupon-carousel .slick-carousel-item:hover .card {
    background-size: 200%!important;
}

.mySlickCarousel.large-coupon-carousel .slick-carousel-item:hover .card:after {
    content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  border-bottom: 5px solid #E6C65B;
  pointer-events: none;
}

.mySlickCarousel.large-coupon-carousel .card .card-head .logo {
    width: 50px;
    height: 50px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.mySlickCarousel.large-coupon-carousel .card .card-middle-headers .h2 {
    font-size: 2.2rem !important;
    font-weight: 100 !important;
}
.mySlickCarousel.large-coupon-carousel .card .card-middle-headers .h3 {
    font-size: 1.8rem !important;
    font-weight: 100 !important;
}
.mySlickCarousel.large-coupon-carousel .card .card-bottom .price,
.mySlickCarousel.large-coupon-carousel .card .card-bottom .rating-display {
    font-size: 1.3rem !important;
    font-weight: 400 !important;
}

/* Download Pomobook promo */

.download-images .download-images-gp{
    width: 85%;
}

.download-images .download-images-appst{
    width: 75%;
}


/* Jumbotron */

.jumbotron {
    height: 100vh;
    

}

.jumbotron .jumbotron-hero {
    background-size: cover;
    background-position: center;
    /* background-size: 180%!important;
    background-position: 50%!important; */
    background-repeat: no-repeat;
    background-attachment: fixed;

    position: absolute!important;
    height: 100%!important;
    width: 100%!important;
    padding: 0!important;
    background-image: url('https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(15).jpg');


}
.jumbotron .jumbotron-hero:before {
    content: '';
    display: block;
    /* background: linear-gradient(to left, rgba(255,0,0,0), rgba(255,0,0,1)); */
    position: absolute;
    width: 100vw;
    height: 100%;
    /* right: 0%; */
    right: 0%;

    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#002d6e+0,7db9e8+100&1+0,1+49,1+49,0.7+78,0+100 */
background: -moz-linear-gradient(left,  rgba(0,45,110,1) 0%, rgba(61,114,170,1) 49%, rgba(97,154,205,0.7) 78%, rgba(125,185,232,0) 100%); /* FF3.6-15 */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,45,110,1)), color-stop(49%,rgba(61,114,170,1)), color-stop(78%,rgba(97,154,205,0.7)), color-stop(100%,rgba(125,185,232,0))); /* Chrome4-9,Safari4-5 */
background: -webkit-linear-gradient(left,  rgba(0,45,110,1) 0%,rgba(61,114,170,1) 49%,rgba(97,154,205,0.7) 78%,rgba(125,185,232,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: -o-linear-gradient(left,  rgba(0,45,110,1) 0%,rgba(61,114,170,1) 49%,rgba(97,154,205,0.7) 78%,rgba(125,185,232,0) 100%); /* Opera 11.10-11.50 */
background: -ms-linear-gradient(left,  rgba(0,45,110,1) 0%,rgba(61,114,170,1) 49%,rgba(97,154,205,0.7) 78%,rgba(125,185,232,0) 100%); /* IE10 preview */
background: linear-gradient(to right,  rgba(0,45,110,1) 0%,rgba(61,114,170,1) 49%,rgba(97,154,205,0.7) 78%,rgba(125,185,232,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#002d6e', endColorstr='#007db9e8',GradientType=1 ); /* IE6-9 */


}

.jumbotron .jumbotron-left {
    padding: 5em;
    z-index: 1;
    
}

/* Footer  */

footer {
    font-family: Roboto,sans-serif !important;
}

footer h4 {
    font-size: 1.2rem !important;
}

footer a i {
    font-size: 1.5rem !important;
}

footer .footer-production {
    font-size: 0.5rem;
}


/* Class to deal with text truncation 2 lines */

.block-with-text  {
    overflow: hidden;
    position: relative;
    text-align: justify;
    line-height: 1.2em;
    padding-right: 1em;
}

/* Two line truncation */
.block-with-text.twoline {
    max-height: 2.4em;
}

/* Three line truncation */
.block-with-text.threeline {
    max-height: 3.6em;
}

.block-with-text:before {
    content: '...';
    position: absolute;
    right: 0;
    bottom: 0;
}

.block-with-text:after {
    content: '';
    position: absolute;
    right: 0;
    width: 1em;
    height: 1em;
    margin-top: 0.2em;
    background: white;
}
