
 /* Extra small devices (portrait phones, less than 576px) */
 /* No media query for `xs` since this is the default in Bootstrap */

/* Small devic/es (landscape phones, 576px and up) */


@media (min-width: 576px) { 

    

 }

 /* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 



 }

 /* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 

    .mainCarouselContainer.partnerCarousel .carousel-control-next {
        right: 40%;
    }
    
    .mainCarouselContainer.partnerCarousel .carousel-control-prev {
        left: 40%;
    }
 

}

 /* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

    .mainCarouselContainer.partnerCarousel .carousel-control-next {
        right: 41%;
    }
    
    .mainCarouselContainer.partnerCarousel .carousel-control-prev {
        left: 41%;
    }
 

 }
