
 /* Extra small devices (portrait phones, less than 576px) */
 /* No media query for `xs` since this is the default in Bootstrap */

/* Small devic/es (landscape phones, 576px and up) */


@media (min-width: 576px) { 

    html {
        font-size: calc(0.4em + 1vw);
    }

    
    nav #navbarResponsive {
        width: 50%;
        left: -50%;
    }

    .navbar-toggler-slidein {
        transform: translateX(700%);
    }

    /* .main-search form div:first-child {
        border-bottom: 0!important;
        border-right: 1px solid #dee2e6!important;
    } */

    .mySlickCarousel.large-coupon-carousel .card {
        width: 400px;
    min-width: 400px;
    height: 400px;
    min-height: 400px;
    }

    .mySlickCarousel.large-coupon-carousel .card .card-head .logo {
        width: 65px;
        height: 65px;
    }

    .mySlickCarousel.large-coupon-carousel .card .card-middle-headers .h2 {
        font-size: 2.5rem !important;
        font-weight: 300 !important;
    }
    .mySlickCarousel.large-coupon-carousel .card .card-middle-headers .h3 {
        font-size: 2rem !important;
        font-weight: 100 !important;
    }
    .mySlickCarousel.large-coupon-carousel .card .card-bottom .price,
    .mySlickCarousel.large-coupon-carousel .card .card-bottom .rating-display {
        font-size: 1.5rem !important;
    }

    .carouselContainer img {
        width: auto !important;
        height: 100% !important;
    }

    .download-images .download-images-gp{
        width: 55%;
    }
    
    .download-images .download-images-appst{
        width: 50%;
    }

 }

 
@media (min-width: 680px) { 
    .carouselContainer img {
        width: 100% !important;
        height: auto !important;
    }


 }

 /* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
html {
        font-size: calc(0.3em + 1vw);
}

nav #navbarResponsive {
        width: 30%;
        left: -30%;
}

.navbar-toggler-slidein {
    transform: translateX(500%);
}

.main-search form div:first-child {
    border-bottom: 0!important;
    border-right: 1px solid #dee2e6!important;
}
    /* Carousel */

.carouselContainer {
    height: 70vh;
    width: 100vw;
    overflow: hidden;
}

.carouselContainer #carouselExampleCaptions {
    width: 100% !important;
    height: 100% !important;
}

.carouselContainer .carousel-indicators {
    bottom: 10% !important;
}

.carouselContainer img {
    width: auto !important;
    height: 100% !important;
}

.carouselContainer .carousel-control-prev-icon,
.carouselContainer .carousel-control-next-icon {
    top: 50%;
    transform: translateY(-50%);
}

.carouselContainer .carousel-caption {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

#offerscontainer {
    height: 20vh;
}

#offerscontainer div {
transform: translateY(-50%);
}

.main-search form {
    position: relative!important;
    top: -6vh !important;
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);
    padding: 1em;
    height: 12vh;
    width: 700px;
}

.form-group {
    height: 100%;
    margin: 0;
    width: 35%;
    padding-right: 1.5em;
    margin-bottom: 0 !important;
}

.form-group * {
    margin: 0;
}

.main-search form button {
    height: 100% !important;
    margin: 0;
    width: 20%;
    font-size: 1.2rem !important;
}

.main-search form button span i{
    font-size: 1.5rem !important;
}


/* Jumbotron */

.jumbotron .jumbotron-hero {
    background-size: cover;
    background-position: center;
    /* background-size: 180%!important;
    background-position: 50%!important; */
    background-repeat: no-repeat;
    background-attachment: fixed;

}
.jumbotron .jumbotron-left {
    position: relative !important;
    padding: 5em;
    left: 10%;
    z-index: 1;
    align-items: center;
}

 .download-images .download-images-gp{
    width: 65%;
}

 .download-images .download-images-appst{
    width: 60%;
}

 }

 /* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    html {
        font-size: calc(0.25em + 1vw) !important;
    }

    .navbar-toggler-slidein {
        transform: translateX(600%);
    }

    .carouselContainer img {
        width: 100% !important;
        height: auto !important;
    }

    nav #navbarResponsive {
        width: 30%;
        left: -30%;
    }

    footer .logo-container img {
        width: 35% !important;
    }

}

 /* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    html {
        font-size: calc(0.1em + 1vw) !important;
    }

    nav #navbarResponsive {
        width: 25%;
        left: -25%;
    }

    .navbar-toggler-slidein {
        /* left: 20% */
        transform: translateX(650%);
    }

    .download-images .download-images-gp{
        width: 55%;
    }
    
     .download-images .download-images-appst{
        width: 50%;
    }

    footer .logo-container img {
        width: 25% !important;
    }
 }
