@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700&display=swap');

@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";




$theme-colors: (
    "dark-blue": #062B64,
    "light-blue": #93A1BB,
    "dark-gold": #CB9031,
    "light-gold": #E6C65B,
    "lighter-gold": #F1E5C9,
    "primary": #CB9031,
    "secondary": #88754D,
    "dark": #062B64,
    "light": white,
    "danger": #D7291E,
    "promo-gray": #9C9C9C,
    "gray600": $gray-600,

  );



$body-bg: theme-color(light);
// $body-color: theme-color-level(promo-gray, 8);
$body-color: theme-color-level(dark, 5);



@import "node_modules/bootstrap/scss/bootstrap";

html {
    font-size: calc(0.5em + 1vw);
}

body {
    /* font-family: 'Roboto', sans-serif !important; */
    font-family: 'Roboto Slab', serif !important;
}

body {
    background-color: var(--main-bg-color);
}

h1 {
    font-size: 2.2rem !important;
    font-weight: 100 !important;
}

h2 {
    font-size: 1.8rem !important;
    font-weight: 100 !important;
}

h3 {
    font-size: 1.8rem !important;
    font-weight: 100 !important;
}

h4 {
    font-size: 1.6rem !important;
    font-weight: 100 !important;
}

h5 {
    font-size: 1.4rem !important;
    font-weight: 100 !important;
}

h6 {
    font-size: 1.2rem !important;
    font-weight: 100 !important;
}

.btn {
    font-weight: 400;
}
.btn-light {
    color: theme-color(dark-blue); 
}


.btn:focus, .btn.focus {
        outline: 0;
        -webkit-box-shadow: 0 8px 6px -6px white;
        -moz-box-shadow: 0 8px 6px -6px white;
             box-shadow: 0 8px 6px -6px white;
 }

 .bg-custom-light-dark {
     background-color: theme-color-level(dark, -2);
 }
//Sidebar 

// nav #navbarResponsive {
//     background: linear-gradient(to right,  rgba(203, 144, 49, 1), rgba(230, 198, 91, 0.9));
// }


//Dropdown menu

.dropdown-menu {
    background-color: transparent;
    padding: 0;
    background-clip: padding-box;
    border: none;
    border-radius: 0;
    width: auto;
    
}

.dropdown-item  {
    width: 100%;
    color: theme-color(dark);
    font-size: 0.8rem;
    padding: 1rem 0.5rem 1rem 0.5rem;
    // margin: 0 1rem;
    position: relative;
    background-color: theme-color(light); 
    border-radius: 0;
}

.dropdown-item:hover, .dropdown-item:focus,
.dropdown-item.active, .dropdown-item:active {
    color: theme-color(dark);
    text-decoration: none;
    background-color: theme-color(light); 
}
//Dropdown items animation
.dropdown-menu .dropdown-item {
    // background: red !important;
    opacity: 0;
    transform-origin: bottom;
    animation: enter 0.2s ease forwards;
}

@for $n from 1 through 10 {
    .dropdown-menu .dropdown-item:nth-child(#{$n}) {
        animation-duration: 0.2s + 0.1s * ($n - 1);
        animation-delay: 0.1s * ($n - 1);
    }
  }
  

@keyframes enter {
    from {
        opacity: 0;
        transform: scaleY(0.98) translateY(10px);
    }    
  to {
    opacity: 1;
    transform: none;
  }
    
}

//

.mySlickCarousel.small-coupon-carousel .card .card-bottom-info .expiration.expires-soon i,
.mySlickCarousel.small-coupon-carousel .card .card-bottom-info .expiration.expires-soon .expiration-text,
.mySlickCarousel.small-coupon-carousel .card .card-head .head-icon.expires-soon i,
.coupon-in-display .card .card-bottom-info .expiration.expires-soon i,
.coupon-in-display .card .card-bottom-info .expiration.expires-soon .expiration-text,
.coupon-in-display .card .card-head .head-icon.expires-soon i,
#couponsDropdownMenu .coupon .head-icon.expires-soon i,
.mainCarouselContainer .head-icons-container .head-icon.expires-soon i

 {
    color: theme-color(danger) !important;
}

  

// Ripple effect

[anim="ripple"] {
    
    //  Customize effect by defining the following
    //  variables on the parent element 
    //  --ripple-background: white;
    //  --ripple-opacity: 0.3;  
    //  --ripple-duration: 600ms;      
    //  --ripple-easing: linear;
    
    position: relative;
    overflow: hidden;

    &:before {
        content: '';
        position:absolute;
        display: block;
        background: var(--ripple-background, white);      
        border-radius: 50%;
        // pointer-events: none; 
        
        //  position and size 
        top: calc(var(--y) * 1px);
        left: calc(var(--x) * 1px);
        width:  calc(var(--d) * 1px);
        height: calc(var(--d) * 1px);

        //  animated properties
        opacity: calc(var(--o, 1) * var(--ripple-opacity, 0.3));                
        transition: calc(var(--t, 0) * var(--ripple-duration, 600ms)) var(--ripple-easing,linear);   
        transform: translate(-50%, -50%) scale(var(--s, 1));
        transform-origin: center;
    }
}

//  Just some styling 
button {
    --ripple-background: white;
    --ripple-opacity: 0.3;  
    --ripple-duration: 600ms;      
}
a {
    
    --ripple-background: white;    
    --ripple-opacity: 0.5;    
    --ripple-duration: 600ms;
}
.rainbow {
    --ripple-opacity: 1;
    --ripple-background: radial-gradient(circle at center, rebeccapurple, dodgerblue, olive, gold, orange, tomato);
    --ripple-duration: 2000ms;
    --ripple-easing: cubic-bezier(0, .5, .5, 1);    
    background-color: skyblue;
    color: rgba(white, 0.7);

    transition: background-color 300ms, color 300ms;
    &:hover { background-color: darken(skyblue, 10%); color: rgba(white, 1);}
}

//Form css for the form in the navbar 

.navbar-search form {
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);
    padding: 1em;
    height: 8rem;
    width: 100%;
}

.navbar-search .form-group {
    height: 100%;
    margin: 0;
    width: 35%;
    padding-right: 1.5em;
    margin-bottom: 0 !important;
}

.navbar-search .form-control {
font-size: 1.1rem !important;
}

.navbar-search .form-group * {
    margin: 0;
}


/* burger menu icon */

.navbar {
    width: 100vw;
    height: 3.75rem;
    z-index: 100;
    // position: sticky !important;
    // position: -webkit-sticky;
    // position: -moz-sticky;
    // position: -ms-sticky;
    // position: -o-sticky;
    // top: 0;
    
}

.navbar:before {
    content:"";
    width: 100%;
    height: 100%;
    position: absolute;
    outline: none;
    box-shadow: none;
    left: 0%;
    top: 0%;
    transform: translateY(-100%);
    /* transition: transform 0.5s ease-in-out; */
    transform-origin: bottom;
    
}

.navbar.shownavbackground:before {
    background-color: #062B64 !important;
    transform: translateY(0%);
    transition: transform 0.5s ease-in-out;
}

.navbar.hidenavbackground:before {
    background-color: #062B64 !important;
    transform: translateY(-100%);
    transition: transform 0.5s ease-in-out;
}

.navbar-toggler {
    color: white !important;
    border: rgba(255,255,255,.1) !important;
    z-index: 100;
    transition: 0.5s ease-in-out;
    /* transition-property: left; */
    transform: translateX(0%);
}

.navbar-toggler:focus {
    outline: 0;
}

.navbar-toggler-slidein {
    transform: translateX(15rem);
}

.navbar select {
    color: white !important;
    background-color: rgba(0, 0, 0, 0) !important;
}

.navbar-brand img {
    width: auto;
    height: 100%;
}

nav #navbarResponsive {
    width: 20rem;
    left: -20rem;
    height: 100vh;
    top: 0vh;
    z-index: 10;
    transition: 0.5s ease-in-out;
    // background-color: theme-color-level(secondary, -2);

    /* background: linear-gradient(rgba(10,49,110),rgba(10,49,110,0.9)); */
    /* background: #052c6b; */
}

nav.navbar  .language-selection a {
    font-size: 0.9rem!important;
    font-weight: 700!important;
    cursor: pointer;
}


nav.navbar .iconcontainer img{
    width: 20px;
    height: 20px;
}

nav.navbar .iconcontainer .badge{
    height: 15px !important;
    font-size: 0.6rem;
    top: 30%;
    left: 60%;
}

nav.navbar #couponsDropdownMenuButton {
    overflow: visible;
}

@keyframes mymove {
        0% {
            transform: scale(1,1);
        }
        50% {
            transform: scale(2,2);
        }
        100% {
            transform: scale(1,1);
        }
}


.animatebadge {
    animation: mymove 1s;
    animation-delay: 0.5s;
    z-index: 100;
}


.dropdown-menu {
    right: 0% !important;
    left: auto !important;
}


nav.navbar .dropdown-item .iconcontainer img{
    width: 15px;
    height: 15px;
}

nav.navbar .dropdown-item .iconcontainer img{
    width: 15px;
    height: 15px;
}

nav.navbar .dropdown-item .message-contents p,
nav.navbar .dropdown-item .coupon-contents p {
    max-width: 100%;
    overflow-wrap: break-word!important;
    white-space: normal!important;
    width: 100%!important;
    font-size: 0.8rem;
}

nav.navbar .dropdown-item .message-contents h6,
nav.navbar .dropdown-item .coupon-contents h6 {
    text-align: left;
    white-space: normal!important;
    /* overflow-wrap: break-word!important; */
}

nav.navbar .dropdown .messages-container {
    overflow-y: scroll !important;
    height: 200px!important;
    width: 200px !important;
    margin: 0 0!important;
}

nav.navbar .dropdown .coupons-container {
    overflow-y: scroll !important;
    height: 250px!important;
    width: 250px !important;
    margin: 0 0!important;
}

nav.navbar .dropdown .coupon-image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

nav.navbar  .dropdown .messages-button-container,
nav.navbar  .dropdown .coupons-button-container {
    margin: 0 0!important;
}

nav.navbar .signedin   {
    display: flex;
}

nav.navbar #userDropdownMenu .dropdown-menu .dropdown-item {
    margin: 0!important;
}

nav.navbar #userDropdownMenu .dropdown-menu .user-menu-elements-container {
    width: 15rem!important;
}

nav.navbar #userDropdownMenu .dropdown-menu .user-menu-elements-container #userDropdownMenuButton {
    display: none !important;
}

nav.navbar #userDropdownMenuButton i  {
    transition: 0.5s ease-in-out;
}

nav.navbar .dropdown > a:focus:after,
nav.navbar .dropdown > a:hover:after {
    content:"";
    width: 100%;
    height: 100%;
    position: absolute;
    border-bottom: 3px solid white !important;
    outline: none;
    box-shadow: none;
    left: 0%;
    top: 0%;
}

nav.navbar .dropdown > a {
    border-radius: 0;
    outline: 1;
    box-shadow: none;
}

nav.navbar .dropdown-menu:before {
    content:"";
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid white;
    position: absolute;
    right: 0%;
    top: 0%
}

nav #navbarResponsive {
    overflow-y: auto;
    overflow-x: hidden;
}

// nav #navbarResponsive .navbar-top {
//     height: 70%;
// }


nav #navbarResponsive .empty-banner {
    height: 3.75rem;
}

nav #navbarResponsive .nav-search .form-control{
    font-size: 1rem !important;
}

nav #navbarResponsive .nav-search button i{
    font-size: 0.8rem !important;
}

// #navbarResponsive::-webkit-scrollbar {
//     width: 11px;
//   }
//   #navbarResponsive {
//     scrollbar-width: thin;
//     scrollbar-color: theme-color(light);
//   }
//   #navbarResponsive::-webkit-scrollbar-track {
//     background: theme-color-level(promo-gray, -6);
//     border-radius: 6px;  
//   }
//   #navbarResponsive::-webkit-scrollbar-thumb {
//     background-color: theme-color(light);
//     border: 3px solid theme-color(light);
//     border-radius: 6px;
//   }


.slidein {
    transform: translateX(100%);
}

nav #navbarResponsive .navmenulink div i {
    pointer-events: none;
    transition: 0.5s ease-in-out;
}
nav #navbarResponsive .navmenulink i {
    pointer-events: none;
    /* transition: 0.5s ease-in-out; */
}
nav #navbarResponsive .navmenulink p{
    font-weight: 700!important;
    pointer-events: none;
}

.menulinkiconrotate {
    transform: rotate(90deg) !important;
}

.navbar ul {
    list-style: none;
}



/////////////////////////////////////////////////////
// Footer
///////////////////////////////////////////////////////

.download-images .download-images-gp{
    width: 75%;
}

.download-images .download-images-appst{
    width: 75%;
}

footer {
    font-family: Roboto,sans-serif !important;
    background-color: theme-color-level(promo-gray, -10);
}

footer h4 {
    font-size: 1.2rem !important;
}

footer a i {
    font-size: 1.5rem !important;
}

/* footer .footer-production {
    font-size: 0.5rem;
} */

footer .footer-copyright {
    font-size: 0.8rem;
}

///////////////////////////////////////////////////
//The modals
///////////////////////////////////////////////////

.modal form {
    box-shadow: none;
}

.modal .form-control:focus {
    border-color: theme-color-level(secondary, -10);
    box-shadow: 0 0 0 0.2rem theme-color-level(secondary, -10);

}

.modal form label {
    color: theme-color-level(secondary, -3);
    font-weight: 400;
}

.modal form input[type=date] {
   
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: pink;
    font-size: 0.7rem;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: pink;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: pink;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: pink;
  }


//////////////////////////////////////////////////
//My-Dropdown (Select elements)
/////////////////////////////////////////////////

.my-dropdown {
    color: theme-color(dark); 
}

.my-dropdown {
    width: 300px;
    display: inline-block;
    background-color: #fff;
    border-radius: 0.2rem;
    box-shadow: 0 0 2px rgb(204, 204, 204);
    transition: all .5s ease;
    position: relative;
    font-size: 14px;
    color: #474747;
    height: 100%;
    text-align: left
  }

  .my-dropdown .select {
      cursor: pointer;
      display: block;
      padding: 10px;
  }
  .my-dropdown .select > i {
      font-size: 13px;
      color: #888;
      cursor: pointer;
      transition: all .3s ease-in-out;
      float: right;
      line-height: 20px
  }
  .my-dropdown:focus {
    outline: 0;
  }
  .my-dropdown:active {
    outline: 0;
    background-color: #f8f8f8
  }
  .my-dropdown.active:hover,
  .my-dropdown.active {
    outline: 0;
      /* box-shadow: 0 0 4px rgb(204, 204, 204); */
      border-radius: 0.2rem 0.2rem 0 0;
      background-color: #f8f8f8
  }
  .my-dropdown.active .select > i {
      transform: rotate(90deg)
  }
  .my-dropdown .my-dropdown-menu {
      position: absolute;
      background-color: #fff;
      width: 100%;
      left: 0;
      margin-top: 1px;
      box-shadow: 0 1px 2px rgb(204, 204, 204);
      border-radius: 0 0px 0.2rem 0.2rem;
      overflow: hidden;
      display: none;
      max-height: 144px;
      overflow-y: auto;
      z-index: 9
  }
  .my-dropdown .my-dropdown-menu li {
      padding: 10px;
      transition: all .2s ease-in-out;
      cursor: pointer
  } 
  .my-dropdown .my-dropdown-menu {
      padding: 0;
      list-style: none
  }
  .my-dropdown .my-dropdown-menu li:hover {
      background-color: #f2f2f2
  }
  .my-dropdown .my-dropdown-menu li:active {
      background-color: #e2e2e2
  }

  /* The selct elements */

nav.navbar .my-dropdown .my-dropdown-menu {
    bottom: 60%;
}

nav.navbar .my-dropdown.active:hover,
nav.navbar .my-dropdown.active {
    border-radius: 0 0 0.2rem 0.2rem;
}

nav.navbar .my-dropdown .my-dropdown-menu {
    border-radius: 0.2rem 0.2rem 0 0;
}

nav.navbar .my-dropdown {
    font-size: 0.875rem;
}

nav.navbar .my-dropdown.active .select > i {
    transform: rotate(-90deg)
}

/* Class to deal with text truncation 2 lines */

.block-with-text  {
    overflow: hidden;
    position: relative;
    text-align: justify;
    line-height: 1.2em;
    padding-right: 1em;
}

/* Two line truncation */
.block-with-text.twoline {
    max-height: 2.4em;
}

/* Three line truncation */
.block-with-text.threeline {
    max-height: 3.6em;
}

.block-with-text:before {
    content: '...';
    position: absolute;
    right: 0;
    bottom: 0;
}

.block-with-text:after {
    content: '';
    position: absolute;
    right: 0;
    width: 1em;
    height: 1em;
    margin-top: 0.2em;
    background: white;
}

////////////////////////////////////////////////////
//Input type date
///////////////////////////////////////////////////////

/* Removes the clear button from date inputs */
input[type="date"]::-webkit-clear-button {
    display: none;
}

////////////////////////////////////////////////////
//Star rating system
///////////////////////////////////////////////////////


    /* use display:inline-flex to prevent whitespace issues. alternatively, you can put all the children of .rating-group on a single line */
    .star-rating-container .rating-group {
      display: inline-flex;
    }
    
    /* make hover effect work properly in IE */
    .rating-group .rating__icon {
      pointer-events: none;
    }
    
    /* hide radio inputs */
    .rating-group .rating__input {
     position: absolute !important;
     left: -9999px !important;
    }
    
    /* hide 'none' input from screenreaders */
    .rating-group .rating__input--none {
      display: none
    }
  
    /* set icon padding and size */
    .rating-group .rating__label {
      cursor: pointer;
      padding: 0 0.1em;
      font-size: 1.2rem;
    }
    
    /* set default star color */
    .rating-group .rating__icon--star {
      color: theme-color-level(secondary, -5);
    }
  
    /* if any input is checked, make its following siblings grey */
    .rating__input:checked ~ .rating__label .rating__icon--star {
      color: #ddd;
    }
    
    /* make all stars orange on rating group hover */
    .rating-group:hover .rating__label .rating__icon--star {
      color: theme-color-level(secondary, -5);
    }
  
    /* make hovered input's following siblings grey on hover */
    .rating__input:hover ~ .rating__label .rating__icon--star {
      color: #ddd;
    }
  

////////////////////////////////////////////////////
//Coupons Listing
///////////////////////////////////////////////////////

#mobile-submenu {
    background-color: theme-color-level(secondary, -5);
}

#web-submenu {
    background-color: theme-color-level(secondary, -5);
}

#mobile-submenu .categories-accordion-dropdown-menu-container .list-group .list-group-item.active{
    background-color: theme-color-level(promo-gray, -6);
    border-color: theme-color-level(promo-gray, -6);
}

.nav-tabs {
    border-bottom: 0px !important;
    border-bottom-color: theme-color-level(promo-gray, -6) !important;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    border: none !important;
    background-color: theme-color-level(promo-gray, -6);
    // border-color: #dee2e6 #dee2e6 theme-color-level(promo-gray, -6);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}


.tab-content .tab-pane.active, 
.tab-content .tab-pane.show {
    background-color: theme-color-level(promo-gray, -6) !important;
}

.tab-content .tab-pane .list-group-item {
    background:none !important;
}

////////////////////////////////////////////////////////////////////
//Offer details
///////////////////////////////////////////////////////////////////

.offer-rating .rating-display {
    color: theme-color-level(secondary, -5) !important;
}

.offer-reviewer-rating.offer-rating .rating-display {
    color: theme-color-level(gray600, -5) !important;
}


#countdown-elements-container .countdown-element {
    background-color: theme-color-level(secondary, -5) !important;
}

#countdown-elements-container .countdown-element > div {
    background-color: theme-color(light) !important;
    color: theme-color(gray600) !important;
}


.countdown-container-borders {
    border-color: theme-color-level(secondary, -5);
}




/////////////////////////////////////////////////////////////////
// Custom scrollbar for the mobile-menu
////////////////////////////////////////////////////////////////

.custom-scrollbar::-webkit-scrollbar {
    width: 5px;
  }

.custom-scrollbar::-webkit-scrollbar-track {
    background: theme-color-level(promo-gray, -6);
    border-radius: 6px;  
  }
.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: theme-color(light);
    border: 3px solid theme-color(light);
    border-radius: 6px;
  }

  //for Firefox
  .custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: theme-color(light);
  }

////////////////////////////////////////////////////////////
//Responsive queries for Navbar, Footer and Fonts
/////////////////////////////////////////////////////////
@media (min-width: 576px) { 

    html {
        font-size: calc(0.4em + 1vw);
    }

    
    nav #navbarResponsive {
        width: 20rem;
        left: -20rem;
    }

    .navbar-toggler-slidein {
        transform: translateX(15rem);
    }

    nav.navbar .dropdown .messages-container {
        height: 250px!important;
        width: 250px !important;
    }
    
    nav.navbar .dropdown .coupons-container {
        height: 300px!important;
        width: 300px !important;
    }

    .download-images .download-images-gp{
        width: 50%;
    }
    
    .download-images .download-images-appst{
        width: 50%;
    }

 }

 /* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
html {
        font-size: calc(0.3em + 1vw);
}

nav #navbarResponsive {
    width: 20rem;
    left: -20rem;
}

nav.navbar .dropdown .messages-container {
    height: 300px!important;
    width: 300px !important;
}

nav.navbar .dropdown .coupons-container {
    height: 350px!important;
    width: 350px !important;
}

.navbar-toggler-slidein {
    transform: translateX(15rem);
}

 .download-images .download-images-gp{
    width: 60%;
}

 .download-images .download-images-appst{
    width: 60%;
}

 }

 /* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    html {
        font-size: calc(0.25em + 1vw) !important;
    }

    .navbar-toggler-slidein {
        transform: translateX(15rem);
    }

    nav.navbar .dropdown .messages-container {
        height: 350px!important;
        width: 350px !important;
    }
    
    nav.navbar .dropdown .coupons-container {
        height: 350px!important;
        width: 400px !important;
    }

    nav #navbarResponsive {
        width: 20rem;
        left: -20rem;
    }

    footer .logo-container img {
        width: 35% !important;
    }

}

 /* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

    body {
        // max-width: 1400px;
        // margin-left: auto;
        // margin-right: auto;
    }

    html {
        font-size: calc(0.1rem + 15px) !important;
    }

    nav.navbar {
        // max-width: 1400px;
        // margin-left: auto;
        // margin-right: auto;
    }

    nav #navbarResponsive {
        width: 20rem;
        left: -20rem;
    }


    .navbar-toggler-slidein {
        /* left: 20% */
        transform: translateX(15rem);
    }

    .download-images .download-images-gp{
        width: 50%;
    }
    
     .download-images .download-images-appst{
        width: 50%;
    }

    footer .logo-container img {
        width: 25% !important;
    }
 }

/////////////////////////////////////////////////////////////////////////////////////
// This was previously the index.css file
////////////////////////////////////////////////////////////////////////////////////


 /* Carousel */

.mainCarouselContainer {
    height: 26.5rem;
    width: 100vw;
    overflow: hidden;
}

.mainCarouselContainer #carouselExampleCaptions {
    width: 100% !important;
    height: 100% !important;
    
    text-shadow: black 0px 0px 2px;

}

.mainCarouselContainer .carousel-inner {
    width: 100% !important;
    height: 100% !important;
}

.mainCarouselContainer .carousel-item {
    width: 100% !important;
    height: 100% !important;
}

.mainCarouselContainer .carousel-item:before {
    z-index: 0;
    background: radial-gradient(ellipse at center,transparent 0,#000 100%);
}

.mainCarouselContainer .carousel-caption h3{
    font-size: 3rem !important;
    font-weight: 300 !important;
}

.mainCarouselContainer .hero-image {
    width: auto !important;
    height: 100% !important;
    background-size: cover;
    background-position: center;
}

.mainCarouselContainer .hero-image:before {
    position: absolute;
    left: 0!important;
    right: 0!important;
    width: 100%!important;
    height: 100%!important;
    background-color: rgba(0,0,0,.4)!important;
    content: ""!important;
}

.mainCarouselContainer .carousel-indicators {
    bottom: 0% !important;
}

.mainCarouselContainer .carousel-caption {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.mainCarouselContainer .carousel-caption p{
    font-size: 1.5rem !important;
    font-weight: 100 !important;
}

form {
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);   
    padding: 1em;
}

.main-search form {
    padding: 1em;
    height: 8rem;
    /* width: 100%; */
}

.main-search .form-group {
    height: 100%;
    margin: 0;
    width: 35%;
    padding-right: 1.5em;
    margin-bottom: 0 !important;
}

.main-search .form-control {
font-size: 1.1rem !important;
}

.main-search .form-group * {
    margin: 0;
}

.main-search form button {
    height: 100%;
    margin: 0;
    width: 20%;
}

.main-search form button span i{
    font-size: 1.7rem !important;
    font-weight: 100 !important;
}

/* Offers Icons */

#offerscontainer {
    height: 10rem;
}

#offerscontainer > div {
    transition: transform .5s ease-in-out;
    -webkit-transition: transform .5s ease-in-out;
}




  
/* Collapse */

#myCollapse .card-body {
    min-height: 200px;
}


/* Icon carousel */

.controls-top {
    position: absolute;
    width: 95%;
    display: flex;
    justify-content: space-between;
    top: 50%;
    z-index: 10;
}


/* #iconCarousel .active, 
#iconCarousel .carousel-item-next, 
#iconCarousel .carousel-item-left,
#iconCarousel .carousel-item-prev, 
#iconCarousel .carousel-item-right
{
  display: flex;
  overflow: hidden;

}

#iconCarousel .carousel-item-left.active {
  transform: translateX(-16.66%);

}

#iconCarousel .carousel-item-right.active {
  transform: translateX(16.66%);

}

#iconCarousel .carousel-item-next {
  transform: translateX(16.66%);

}

#iconCarousel .carousel-item-prev {
  transform: translateX(-16.66%);
}

#iconCarousel .carousel-item-left,
#iconCarousel .carousel-item-right {
  transform: translateX(0);

} */

#iconCarousel .carousel-item a div {
    font-size: 0.7em;
    font-weight: 300 !important;
}

#iconCarousel .carousel-item a i {
    font-size: 2em;
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.item {
    width: 200px;
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
}

.item div {
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: center;
    
}

.item i {
    font-size: 2em;
}


/* Card carousel */

.controls-top {
    position: absolute;
    width: 95%;
    display: flex;
    justify-content: space-between;
    top: 50%;
    z-index: 10;
}


/* .singleItemSlideCarousel .active, 
.singleItemSlideCarousel .carousel-item-next, 
.singleItemSlideCarousel .carousel-item-left,
.singleItemSlideCarousel .carousel-item-prev, 
.singleItemSlideCarousel .carousel-item-right
{
  display: flex !important;
  overflow: hidden;
}

.singleItemSlideCarousel .carousel-item-left.active {
  transform: translateX(-33.3%) !important;

}

.singleItemSlideCarousel .carousel-item-right.active {
  transform: translateX(33.3%) !important;

}

.singleItemSlideCarousel .carousel-item-next {
  transform: translateX(33.3%) !important;

}

.singleItemSlideCarousel .carousel-item-prev {
  transform: translateX(-33.3%) !important;

}

.singleItemSlideCarousel .carousel-item-left,
.singleItemSlideCarousel .carousel-item-right {
  transform: translateX(0) !important;

} */


/* ////////////////////////////////////////////////////////////// */
/* Carousel heades */

/* #newoffers h2 {
    font-size: 1.5rem !important;
    font-weight: 100 !important;
} */


/* Carousel handling */

.singleItemSlideCarousel .active,
.singleItemSlideCarousel .carousel-item-next,
.singleItemSlideCarousel .carousel-item-left,
.singleItemSlideCarousel .carousel-item-prev,
.singleItemSlideCarousel .carousel-item-right {
    display: flex !important;
    overflow: hidden;
}


/* One item in carousel */

.singleItemSlideCarousel .carousel-item-left.active.oneItem {
    transform: translateX(-100%) !important;
}

.singleItemSlideCarousel .carousel-item-right.active.oneItem {
    transform: translateX(100%) !important;
}

.singleItemSlideCarousel .carousel-item-next.oneItem {
    transform: translateX(100%) !important;
}

.singleItemSlideCarousel .carousel-item-prev.oneItem {
    transform: translateX(-100%) !important;
}

.singleItemSlideCarousel .carousel-item-left.oneItem,
.singleItemSlideCarousel .carousel-item-right.oneItem {
    transform: translateX(0) !important;
}


/* Two items in carousel */

.singleItemSlideCarousel .carousel-item-left.active.twoItem {
    transform: translateX(-50%) !important;
}

.singleItemSlideCarousel .carousel-item-right.active.twoItem {
    transform: translateX(50%) !important;
}

.singleItemSlideCarousel .carousel-item-next.twoItem {
    transform: translateX(50%) !important;
}

.singleItemSlideCarousel .carousel-item-prev.twoItem {
    transform: translateX(-50%) !important;
}

.singleItemSlideCarousel .carousel-item-left.twoItem,
.singleItemSlideCarousel .carousel-item-right.twoItem {
    transform: translateX(0) !important;
}


/* Three items in carousel */

.singleItemSlideCarousel .carousel-item-left.active.threeItem {
    transform: translateX(-33.33%) !important;
}

.singleItemSlideCarousel .carousel-item-right.active.threeItem {
    transform: translateX(33.33%) !important;
}

.singleItemSlideCarousel .carousel-item-next.threeItem {
    transform: translateX(33.33%) !important;
}

.singleItemSlideCarousel .carousel-item-prev.threeItem {
    transform: translateX(-33.33%) !important;
}

.singleItemSlideCarousel .carousel-item-left.threeItem,
.singleItemSlideCarousel .carousel-item-right.threeItem {
    transform: translateX(0) !important;
}


/* Four items in carousel */

.singleItemSlideCarousel .carousel-item-left.active.fourItem {
    transform: translateX(-25%) !important;
}

.singleItemSlideCarousel .carousel-item-right.active.fourItem {
    transform: translateX(25%) !important;
}

.singleItemSlideCarousel .carousel-item-next.fourItem {
    transform: translateX(25%) !important;
}

.singleItemSlideCarousel .carousel-item-prev.fourItem {
    transform: translateX(-25%) !important;
}

.singleItemSlideCarousel .carousel-item-left.fourItem,
.singleItemSlideCarousel .carousel-item-right.fourItem {
    transform: translateX(0) !important;
}


/* Six items in carousel */

.singleItemSlideCarousel .carousel-item-left.active.sixItem {
    transform: translateX(-16.66%) !important;
}

.singleItemSlideCarousel .carousel-item-right.active.sixItem {
    transform: translateX(16.66%) !important;
}

.singleItemSlideCarousel .carousel-item-next.sixItem {
    transform: translateX(16.66%) !important;
}

.singleItemSlideCarousel .carousel-item-prev.sixItem {
    transform: translateX(-16.66%) !important;
}

.singleItemSlideCarousel .carousel-item-left.sixItem,
.singleItemSlideCarousel .carousel-item-right.sixItem {
    transform: translateX(0) !important;
}


/* ////////////////////////////////////////////////////////////// */


/* Slick Carousel */

.slick-controls a {
    z-index: 10;
    width: 5%;
    height: 100%;
}

/* .slick-controls.hidecontrols {
    display: none !important;
} */

.slick-list {
    /* margin-left: 3rem !important;
    margin-right: 3rem !important; */
    width: 95% ;
    display: flex ;
}



.slick-track {
    display: flex;
    width: 100% ;
    justify-content: space-around;
    padding: 1em 0;
    
}

.slick-arrow {
    display: flex;
}

.mySlickCarousel .slick-carousel-item {
    display: flex !important;
    justify-content: center;
}

.mySlickCarousel .slick-carousel-item {
    display: flex !important;
    justify-content: center;
}

/* Slick Icon Carousel */

.mySlickCarousel.icon-carousel .icon-item  {
    font-family: Roboto,sans-serif !important;

    width: 100px;
    height: 100px;
    min-height: 100px;
    min-width: 100px;
}

.mySlickCarousel.icon-carousel .icon-item .icon-text  {
    font-size: 0.6em;
    font-family: 'Roboto Slab', serif !important;
}



/* Small Coupon */

// .container-fluid.coupon-carousel-container {
//     max-width: 1400px;
// }



.mySlickCarousel.small-coupon-carousel .card {
    font-family: Roboto,sans-serif !important;

    width: 250px;
    height: 500px;
    min-height: 500px;
    min-width: 250px;
}

.mySlickCarousel.small-coupon-carousel .card-head {
    background-size: 180%!important;
    background-position: 50%!important;
    background-repeat: no-repeat;
    

    transition: background-size .3s ease-in;
    -webkit-transition: background-size .3s ease-in;
}

.mySlickCarousel.small-coupon-carousel .card-head:before {
    z-index: 0;
    background: radial-gradient(ellipse at center,transparent 0,#000 100%);
}

.mySlickCarousel.small-coupon-carousel .slick-carousel-item:hover .card-head {
    background-size: 200%!important;
}

.mySlickCarousel.small-coupon-carousel .slick-carousel-item:hover .card-head:after {
    content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  border-bottom: 5px solid #88754D;
  pointer-events: none;
  top: -62%;
}


.mySlickCarousel.small-coupon-carousel .card .card-bottom-footer .logo {
    width: 50px;
    height: 50px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.mySlickCarousel.small-coupon-carousel .card .card-bottom .price-discounted{
    font-size: 1.6rem!important;
}

.mySlickCarousel.small-coupon-carousel .card .card-bottom .price-original{
    font-weight: 100!important;
}

.mySlickCarousel.small-coupon-carousel .card-head .head-icons-container .head-icon {
    width: 25px;
    height: 25px;
}

.mySlickCarousel.small-coupon-carousel .card .card-bottom-footer .price,
.mySlickCarousel.small-coupon-carousel .card .card-bottom-footer .rating-display {
    font-size: 1.3rem !important;
    font-weight: 900 !important;
}

/* Large Coupon  */

.mySlickCarousel.large-coupon-carousel .card {

    font-family: Roboto,sans-serif !important;
    width: 300px;
    min-width: 300px;
    height: 300px;
    min-height: 300px;

    background-size: 180%!important;
    background-position: 50%!important;
    background-repeat: no-repeat;

    text-shadow: black 0px 0px 5px;
    /* -webkit-text-stroke: 1px lightslategray; */


    transition: background-size .3s ease-in;
    -webkit-transition: background-size .3s ease-in;

}

.mySlickCarousel.large-coupon-carousel .card-body {
    z-index: 1;
}


.mySlickCarousel.large-coupon-carousel .slick-carousel-item:hover .card {
    background-size: 200%!important;
}

.mySlickCarousel.large-coupon-carousel .slick-carousel-item:hover .card:after {
    content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  border-bottom: 5px solid #88754D;
  pointer-events: none;
}

.mySlickCarousel.large-coupon-carousel .card .card-head .logo {
    width: 50px;
    height: 50px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.mySlickCarousel.large-coupon-carousel .card .card-middle-headers .h2 {
    font-size: 2.2rem !important;
    font-weight: 100 !important;
}
.mySlickCarousel.large-coupon-carousel .card .card-middle-headers .h3 {
    font-size: 1.8rem !important;
    font-weight: 100 !important;
}
.mySlickCarousel.large-coupon-carousel .card .card-bottom .price,
.mySlickCarousel.large-coupon-carousel .card .card-bottom .rating-display {
    font-size: 1.3rem !important;
    font-weight: 400 !important;
}

.mySlickCarousel.large-coupon-carousel .card .card-bottom .price-discounted{
    font-size: 1.6rem!important;
}

.mySlickCarousel.large-coupon-carousel .card .card-bottom .price-original{
    font-weight: 100!important;
}

.mySlickCarousel.large-coupon-carousel .card:before {
    position: absolute;
    left: 0!important;
    right: 0!important;
    width: 100%!important;
    height: 100%!important;
    background-color: rgba(0,0,0,.1)!important;
    content: ""!important;
}

.mySlickCarousel.large-coupon-carousel .slick-carousel-item:before {
    z-index: 0;
    background: radial-gradient(ellipse at center,transparent 0,#000 100%);
}

.mainCarouselContainer .carousel-caption h3{
    font-size: 3rem !important;
    font-weight: 300 !important;
}

.mainCarouselContainer .hero-image {
    width: auto !important;
    height: 100% !important;
    background-size: cover;
    background-position: center;
}


/* Download Pomobook promo */

.download-images .download-images-gp{
    width: 75%;
}

.download-images .download-images-appst{
    width: 75%;
}


/* Jumbotron */

.jumbotron {
    height: 100vh;
    min-height: 600px;  
}


.jumbotron .jumbotron-hero {
    background-size: cover;
    background-position: center;
    /* background-size: 180%!important;
    background-position: 50%!important; */
    background-repeat: no-repeat;
    background-attachment: fixed;

    position: absolute!important;
    height: 100%!important;
    width: 100%!important;
    padding: 0!important;
    background-image: url('https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(15).jpg');


}
.jumbotron .jumbotron-hero:before {
    content: '';
    display: block;
    /* background: linear-gradient(to left, rgba(255,0,0,0), rgba(255,0,0,1)); */
    position: absolute;
    width: 100vw;
    height: 100%;
    /* right: 0%; */
    right: 0%;

    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#002d6e+0,7db9e8+100&1+0,1+49,1+49,0.7+78,0+100 */
background: -moz-linear-gradient(left,  rgba(0,45,110,1) 0%, rgba(61,114,170,1) 49%, rgba(97,154,205,0.7) 78%, rgba(125,185,232,0) 100%); /* FF3.6-15 */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,45,110,1)), color-stop(49%,rgba(61,114,170,1)), color-stop(78%,rgba(97,154,205,0.7)), color-stop(100%,rgba(125,185,232,0))); /* Chrome4-9,Safari4-5 */
background: -webkit-linear-gradient(left,  rgba(0,45,110,1) 0%,rgba(61,114,170,1) 49%,rgba(97,154,205,0.7) 78%,rgba(125,185,232,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: -o-linear-gradient(left,  rgba(0,45,110,1) 0%,rgba(61,114,170,1) 49%,rgba(97,154,205,0.7) 78%,rgba(125,185,232,0) 100%); /* Opera 11.10-11.50 */
background: -ms-linear-gradient(left,  rgba(0,45,110,1) 0%,rgba(61,114,170,1) 49%,rgba(97,154,205,0.7) 78%,rgba(125,185,232,0) 100%); /* IE10 preview */
background: linear-gradient(to right,  rgba(0,45,110,1) 0%,rgba(61,114,170,1) 49%,rgba(97,154,205,0.7) 78%,rgba(125,185,232,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#002d6e', endColorstr='#007db9e8',GradientType=1 ); /* IE6-9 */


}

.jumbotron .jumbotron-left {
    padding: 5em;
    z-index: 1;
    
}


