@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700&display=swap');

@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";


$theme-colors: (
    "dark-blue": #062B64,
    "light-blue": #93A1BB,
    "dark-gold": #CB9031,
    "light-gold": #E6C65B,
    "lighter-gold": #F1E5C9,
    "primary": #CB9031,
    "secondary": #88754D,
    "dark": #062B64,
    "light": white,
    "danger": #D7291E,
    "promo-gray": #9C9C9C

  );

$body-bg: theme-color-level(promo-gray, -10);


@import "node_modules/bootstrap/scss/bootstrap";

html {
    font-size: calc(0.5em + 1vw);
}

body {
    /* font-family: 'Roboto', sans-serif !important; */
    font-family: 'Roboto Slab', serif !important;
}

body {
    background-color: var(--main-bg-color);
}

h1 {
    font-size: 2.2rem !important;
    font-weight: 100 !important;
}

h2 {
    font-size: 1.8rem !important;
    font-weight: 100 !important;
}

h3 {
    font-size: 1.8rem !important;
    font-weight: 100 !important;
}

h4 {
    font-size: 1.6rem !important;
    font-weight: 100 !important;
}

h5 {
    font-size: 1.4rem !important;
    font-weight: 100 !important;
}

h6 {
    font-size: 1.2rem !important;
    font-weight: 100 !important;
}

.btn {
    font-weight: 400;
}
.btn-light {
    color: theme-color(dark-blue); 
}


.btn:focus, .btn.focus {
        outline: 0;
        -webkit-box-shadow: 0 8px 6px -6px white;
        -moz-box-shadow: 0 8px 6px -6px white;
             box-shadow: 0 8px 6px -6px white;
 }

//Sidebar 

// nav #navbarResponsive {
//     background: linear-gradient(to right,  rgba(203, 144, 49, 1), rgba(230, 198, 91, 0.9));
// }


//Dropdown menu

.dropdown-menu {
    background-color: transparent;
    padding: 0;
    background-clip: padding-box;
    border: none;
    border-radius: 0;
    width: auto;
    
}

.dropdown-item  {
    width: 100%;
    color: theme-color(dark);
    font-size: 0.8rem;
    padding: 1rem 0.5rem 1rem 0.5rem;
    // margin: 0 1rem;
    position: relative;
    background-color: theme-color(light); 
    border-radius: 0;
}

.dropdown-item:hover, .dropdown-item:focus,
.dropdown-item.active, .dropdown-item:active {
    color: theme-color(dark);
    text-decoration: none;
    background-color: theme-color(light); 
}
//Dropdown items animation
.dropdown-menu .dropdown-item {
    // background: red !important;
    opacity: 0;
    transform-origin: bottom;
    animation: enter 0.2s ease forwards;
}

@for $n from 1 through 10 {
    .dropdown-menu .dropdown-item:nth-child(#{$n}) {
        animation-duration: 0.2s + 0.1s * ($n - 1);
        animation-delay: 0.1s * ($n - 1);
    }
  }
  

@keyframes enter {
    from {
        opacity: 0;
        transform: scaleY(0.98) translateY(10px);
    }    
  to {
    opacity: 1;
    transform: none;
  }
    
}

//

.mySlickCarousel.small-coupon-carousel .card .card-bottom-info .expiration.expires-soon i,
.mySlickCarousel.small-coupon-carousel .card .card-bottom-info .expiration.expires-soon .expiration-text,
.mySlickCarousel.small-coupon-carousel .card .card-head .head-icon.expires-soon i,
#couponsDropdownMenu .coupon .head-icon.expires-soon i

 {
    color: theme-color(danger);
   }
  

// Ripple effect

[anim="ripple"] {
    
    //  Customize effect by defining the following
    //  variables on the parent element 
    //  --ripple-background: white;
    //  --ripple-opacity: 0.3;  
    //  --ripple-duration: 600ms;      
    //  --ripple-easing: linear;
    
    position: relative;
    overflow: hidden;

    &:before {
        content: '';
        position:absolute;
        display: block;
        background: var(--ripple-background, white);      
        border-radius: 50%;
        // pointer-events: none; 
        
        //  position and size 
        top: calc(var(--y) * 1px);
        left: calc(var(--x) * 1px);
        width:  calc(var(--d) * 1px);
        height: calc(var(--d) * 1px);

        //  animated properties
        opacity: calc(var(--o, 1) * var(--ripple-opacity, 0.3));                
        transition: calc(var(--t, 0) * var(--ripple-duration, 600ms)) var(--ripple-easing,linear);   
        transform: translate(-50%, -50%) scale(var(--s, 1));
        transform-origin: center;
    }
}

//  Just some styling 
button {
    --ripple-background: white;
    --ripple-opacity: 0.3;  
    --ripple-duration: 600ms;      
}
a {
    
    --ripple-background: white;    
    --ripple-opacity: 0.5;    
    --ripple-duration: 600ms;
}
.rainbow {
    --ripple-opacity: 1;
    --ripple-background: radial-gradient(circle at center, rebeccapurple, dodgerblue, olive, gold, orange, tomato);
    --ripple-duration: 2000ms;
    --ripple-easing: cubic-bezier(0, .5, .5, 1);    
    background-color: skyblue;
    color: rgba(white, 0.7);

    transition: background-color 300ms, color 300ms;
    &:hover { background-color: darken(skyblue, 10%); color: rgba(white, 1);}
}

//Form css for the form in the navbar 

form {
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);
    padding: 1em;
    height: 8rem;
    width: 100%;
}

.form-group {
    height: 100%;
    margin: 0;
    width: 35%;
    padding-right: 1.5em;
    margin-bottom: 0 !important;
}

.form-control {
font-size: 1.1rem !important;
}

.form-group * {
    margin: 0;
}


/* burger menu icon */

.navbar {
    width: 100vw;
    height: 3.75rem;
    z-index: 100;
    // position: sticky !important;
    // position: -webkit-sticky;
    // position: -moz-sticky;
    // position: -ms-sticky;
    // position: -o-sticky;
    // top: 0;
    
}

.navbar:before {
    content:"";
    width: 100%;
    height: 100%;
    position: absolute;
    outline: none;
    box-shadow: none;
    left: 0%;
    top: 0%;
    transform: translateY(-100%);
    /* transition: transform 0.5s ease-in-out; */
    transform-origin: bottom;
    
}

.navbar.shownavbackground:before {
    background-color: #062B64 !important;
    transform: translateY(0%);
    transition: transform 0.5s ease-in-out;
}

.navbar.hidenavbackground:before {
    background-color: #062B64 !important;
    transform: translateY(-100%);
    transition: transform 0.5s ease-in-out;
}

.navbar-toggler {
    color: white !important;
    border: rgba(255,255,255,.1) !important;
    z-index: 100;
    transition: 0.5s ease-in-out;
    /* transition-property: left; */
    transform: translateX(0%);
}

.navbar-toggler:focus {
    outline: 0;
}

.navbar-toggler-slidein {
    transform: translateX(550%);
}

.navbar select {
    color: white !important;
    background-color: rgba(0, 0, 0, 0) !important;
}

.navbar-brand img {
    width: auto;
    height: 100%;
}

nav #navbarResponsive {
    width: 60%;
    height: 100vh;
    top: 0vh;
    left: -60%;
    z-index: 10;
    transition: 0.5s ease-in-out;

    /* background: linear-gradient(rgba(10,49,110),rgba(10,49,110,0.9)); */
    /* background: #052c6b; */
}

nav.navbar  .language-selection a {
    font-size: 0.9rem!important;
    font-weight: 700!important;
    cursor: pointer;
}


nav.navbar .iconcontainer img{
    width: 20px;
    height: 20px;
}

nav.navbar .iconcontainer .badge{
    height: 15px !important;
    font-size: 0.6rem;
    top: 30%;
    left: 60%;
}

.dropdown-menu {
    right: 0% !important;
    left: auto !important;
}


nav.navbar .dropdown-item .iconcontainer img{
    width: 15px;
    height: 15px;
}

nav.navbar .dropdown-item .iconcontainer img{
    width: 15px;
    height: 15px;
}

nav.navbar .dropdown-item .message-contents p,
nav.navbar .dropdown-item .coupon-contents p {
    max-width: 100%;
    overflow-wrap: break-word!important;
    white-space: normal!important;
    width: 100%!important;
    font-size: 0.8rem;
}

nav.navbar .dropdown-item .message-contents h6,
nav.navbar .dropdown-item .coupon-contents h6 {
    text-align: left;
    white-space: normal!important;
    /* overflow-wrap: break-word!important; */
}

nav.navbar .dropdown .messages-container {
    overflow-y: scroll !important;
    height: 200px!important;
    width: 200px !important;
    margin: 0 0!important;
}

nav.navbar .dropdown .coupons-container {
    overflow-y: scroll !important;
    height: 250px!important;
    width: 250px !important;
    margin: 0 0!important;
}

nav.navbar .dropdown .coupon-image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

nav.navbar  .dropdown .messages-button-container,
nav.navbar  .dropdown .coupons-button-container {
    margin: 0 0!important;
}

nav.navbar .signedin   {
    display: flex;
}

nav.navbar #userDropdownMenu .dropdown-menu .dropdown-item {
    margin: 0!important;
}

nav.navbar #userDropdownMenu .dropdown-menu .user-menu-elements-container {
    width: 15rem!important;
}

nav.navbar #userDropdownMenuButton i  {
    transition: 0.5s ease-in-out;
}

nav.navbar .dropdown > a:focus:after,
nav.navbar .dropdown > a:hover:after {
    content:"";
    width: 100%;
    height: 100%;
    position: absolute;
    border-bottom: 3px solid white !important;
    outline: none;
    box-shadow: none;
    left: 0%;
    top: 0%;
}

nav.navbar .dropdown > a {
    border-radius: 0;
    outline: 1;
    box-shadow: none;
}

nav.navbar .dropdown-menu:before {
    content:"";
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid white;
    position: absolute;
    right: 0%;
    top: 0%
}

nav #navbarResponsive {
    overflow-y: auto;
    overflow-x: hidden;
}

nav #navbarResponsive .navbar-top {
    height: 70%;
}


nav #navbarResponsive .empty-banner {
    height: 3.75rem;
}

nav #navbarResponsive .nav-search .form-control{
    font-size: 1rem !important;
}

nav #navbarResponsive .nav-search button i{
    font-size: 0.8rem !important;
}


.slidein {
    transform: translateX(100%);
}

nav #navbarResponsive .navmenulink div i {
    pointer-events: none;
    transition: 0.5s ease-in-out;
}
nav #navbarResponsive .navmenulink i {
    pointer-events: none;
    /* transition: 0.5s ease-in-out; */
}
nav #navbarResponsive .navmenulink p{
    font-weight: 700!important;
    pointer-events: none;
}

.menulinkiconrotate {
    transform: rotate(90deg) !important;
}

.navbar ul {
    list-style: none;
}

/////////////////////////////////////////////////////
// Footer
///////////////////////////////////////////////////////

footer {
    font-family: Roboto,sans-serif !important;
}

footer h4 {
    font-size: 1.2rem !important;
}

footer a i {
    font-size: 1.5rem !important;
}

/* footer .footer-production {
    font-size: 0.5rem;
} */

footer .footer-copyright {
    font-size: 0.8rem;
}

//////////////////////////////////////////////////
//My-Dropdown (Select elements)
/////////////////////////////////////////////////

.my-dropdown {
    color: theme-color(dark); 
}

.my-dropdown {
    width: 300px;
    display: inline-block;
    background-color: #fff;
    border-radius: 0.2rem;
    box-shadow: 0 0 2px rgb(204, 204, 204);
    transition: all .5s ease;
    position: relative;
    font-size: 14px;
    color: #474747;
    height: 100%;
    text-align: left
  }

  .my-dropdown .select {
      cursor: pointer;
      display: block;
      padding: 10px;
  }
  .my-dropdown .select > i {
      font-size: 13px;
      color: #888;
      cursor: pointer;
      transition: all .3s ease-in-out;
      float: right;
      line-height: 20px
  }
  .my-dropdown:focus {
    outline: 0;
  }
  .my-dropdown:active {
    outline: 0;
    background-color: #f8f8f8
  }
  .my-dropdown.active:hover,
  .my-dropdown.active {
    outline: 0;
      /* box-shadow: 0 0 4px rgb(204, 204, 204); */
      border-radius: 0.2rem 0.2rem 0 0;
      background-color: #f8f8f8
  }
  .my-dropdown.active .select > i {
      transform: rotate(90deg)
  }
  .my-dropdown .my-dropdown-menu {
      position: absolute;
      background-color: #fff;
      width: 100%;
      left: 0;
      margin-top: 1px;
      box-shadow: 0 1px 2px rgb(204, 204, 204);
      border-radius: 0 0px 0.2rem 0.2rem;
      overflow: hidden;
      display: none;
      max-height: 144px;
      overflow-y: auto;
      z-index: 9
  }
  .my-dropdown .my-dropdown-menu li {
      padding: 10px;
      transition: all .2s ease-in-out;
      cursor: pointer
  } 
  .my-dropdown .my-dropdown-menu {
      padding: 0;
      list-style: none
  }
  .my-dropdown .my-dropdown-menu li:hover {
      background-color: #f2f2f2
  }
  .my-dropdown .my-dropdown-menu li:active {
      background-color: #e2e2e2
  }

  /* The selct elements */

nav.navbar .my-dropdown .my-dropdown-menu {
    bottom: 60%;
}

nav.navbar .my-dropdown.active:hover,
nav.navbar .my-dropdown.active {
    border-radius: 0 0 0.2rem 0.2rem;
}

nav.navbar .my-dropdown .my-dropdown-menu {
    border-radius: 0.2rem 0.2rem 0 0;
}

nav.navbar .my-dropdown {
    font-size: 0.875rem;
}

nav.navbar .my-dropdown.active .select > i {
    transform: rotate(-90deg)
}

/* Class to deal with text truncation 2 lines */

.block-with-text  {
    overflow: hidden;
    position: relative;
    text-align: justify;
    line-height: 1.2em;
    padding-right: 1em;
}

/* Two line truncation */
.block-with-text.twoline {
    max-height: 2.4em;
}

/* Three line truncation */
.block-with-text.threeline {
    max-height: 3.6em;
}

.block-with-text:before {
    content: '...';
    position: absolute;
    right: 0;
    bottom: 0;
}

.block-with-text:after {
    content: '';
    position: absolute;
    right: 0;
    width: 1em;
    height: 1em;
    margin-top: 0.2em;
    background: white;
}

////////////////////////////////////////////////////
//Other elements
///////////////////////////////////////////////////////

.categories-dropdown .categories-dropdown-menu .categories-dropdown-item{
    background-color: theme-color-level(promo-gray, -10);
}


////////////////////////////////////////////////////////////
//Responsive queries for Navbar, Footer and Fonts
/////////////////////////////////////////////////////////
@media (min-width: 576px) { 

    html {
        font-size: calc(0.4em + 1vw);
    }

    
    nav #navbarResponsive {
        width: 50%;
        left: -50%;
    }

    .navbar-toggler-slidein {
        transform: translateX(700%);
    }

    nav.navbar .dropdown .messages-container {
        height: 250px!important;
        width: 250px !important;
    }
    
    nav.navbar .dropdown .coupons-container {
        height: 300px!important;
        width: 300px !important;
    }

    .download-images .download-images-gp{
        width: 55%;
    }
    
    .download-images .download-images-appst{
        width: 50%;
    }

 }

 /* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
html {
        font-size: calc(0.3em + 1vw);
}

nav #navbarResponsive {
        width: 30%;
        left: -30%;
}

nav.navbar .dropdown .messages-container {
    height: 300px!important;
    width: 300px !important;
}

nav.navbar .dropdown .coupons-container {
    height: 350px!important;
    width: 350px !important;
}

.navbar-toggler-slidein {
    transform: translateX(500%);
}

 .download-images .download-images-gp{
    width: 65%;
}

 .download-images .download-images-appst{
    width: 60%;
}

 }

 /* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    html {
        font-size: calc(0.25em + 1vw) !important;
    }

    .navbar-toggler-slidein {
        transform: translateX(600%);
    }

    nav.navbar .dropdown .messages-container {
        height: 350px!important;
        width: 350px !important;
    }
    
    nav.navbar .dropdown .coupons-container {
        height: 350px!important;
        width: 400px !important;
    }

    nav #navbarResponsive {
        width: 30%;
        left: -30%;
    }

    footer .logo-container img {
        width: 35% !important;
    }

}

 /* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    html {
        font-size: calc(0.1em + 1vw) !important;
    }

    nav #navbarResponsive {
        width: 25%;
        left: -25%;
    }

    .navbar-toggler-slidein {
        /* left: 20% */
        transform: translateX(650%);
    }

    .download-images .download-images-gp{
        width: 55%;
    }
    
     .download-images .download-images-appst{
        width: 50%;
    }

    footer .logo-container img {
        width: 25% !important;
    }
 }
