.filters-container * {
    font-size: 0.8rem!important;
}


.filters-container {
    position: fixed!important;
    z-index: 100;
    width: 20rem !important;
    height: 100vh !important;
    overflow-y: auto;
    right: -20rem;
    top:0;
    transition: 0.5s ease-in-out;
}

.filters-container .close span{
    font-size: 2rem!important;
}

.filters-container.slidein {
    transform: translateX(-100%);
}

.partners-display-container {
    width: 25rem;
}


.partner-in-display {
    display: flex !important;
    justify-content: center;    
}

.partner-in-display .card {
    font-family: Roboto,sans-serif !important;

    width: 20rem;
    height: 30rem;
    min-height: 30rem;
    min-width: 20rem;
}

.partner-in-display .card .card-head {
    background-size: 180%!important;
    background-position: 50%!important;
    background-repeat: no-repeat;
    

    transition: background-size .3s ease-in;
    -webkit-transition: background-size .3s ease-in;
}

.partner-in-display .card .card-head:before {
    z-index: 0;
    background: radial-gradient(ellipse at center,transparent 0,#000 100%);
}

.partner-in-display .card:hover .card-head {
    background-size: 200%!important;
}


.partner-in-display .card:hover .card-head:after {
    content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
//   border-bottom: 5px solid #88754D;
  pointer-events: none;
  top: -62%;
}

.partner-in-display .card .card-head .head-icons-container .head-icon {
    width: 25px;
    height: 25px;
}

