/* Extra small devices (portrait phones, less than 576px) */
/* No media query for `xs` since this is the default in Bootstrap */
/* Small devic/es (landscape phones, 576px and up) */
@media (min-width: 576px) {
  /* .main-search form div:first-child {
        border-bottom: 0!important;
        border-right: 1px solid #dee2e6!important;
    } */
  .mySlickCarousel.large-coupon-carousel .card {
    width: 400px;
    min-width: 400px;
    height: 400px;
    min-height: 400px; }
  .mySlickCarousel.large-coupon-carousel .card .card-head .logo {
    width: 65px;
    height: 65px; }
  .mySlickCarousel.large-coupon-carousel .card .card-middle-headers .h2 {
    font-size: 2.5rem !important;
    font-weight: 300 !important; }
  .mySlickCarousel.large-coupon-carousel .card .card-middle-headers .h3 {
    font-size: 2rem !important;
    font-weight: 100 !important; }
  .mySlickCarousel.large-coupon-carousel .card .card-bottom .price,
  .mySlickCarousel.large-coupon-carousel .card .card-bottom .rating-display {
    font-size: 1.5rem !important; }
  .mainmainCarouselContainer img {
    width: auto !important;
    height: 100% !important; }
  .download-images .download-images-gp {
    width: 55%; }
  .download-images .download-images-appst {
    width: 50%; } }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .main-search form > div:first-of-type {
    border-bottom: 0 !important;
    border-right: 1px solid #dee2e6 !important; }
  .main-search form > div:last-of-type {
    border-right: 0 !important;
    width: 100% !important; }
  /* Carousel */
  .mainCarouselContainer {
    height: 70vh;
    width: 100vw;
    overflow: hidden; }
  .mainCarouselContainer #carouselExampleCaptions {
    width: 100% !important;
    height: 100% !important; }
  .mainCarouselContainer .carousel-indicators {
    bottom: 10% !important; }
  /* .mainCarouselContainer img {
    width: auto !important;
    height: 100% !important;
} */
  .mainCarouselContainer .carousel-control-prev-icon,
  .mainCarouselContainer .carousel-control-next-icon {
    top: 50%;
    transform: translateY(-50%); }
  .mainCarouselContainer .carousel-caption {
    position: absolute;
    top: 50%;
    transform: translateY(-50%); }
  #offerscontainer {
    /* height: 20vh; */ }
  #offerscontainer > div {
    transform: translateY(-50%); }
  .main-search form {
    position: relative !important;
    top: -6vh !important;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 1em;
    height: 12vh;
    width: 700px; }
  .form-group {
    height: 100%;
    margin: 0;
    width: 35%;
    padding-right: 1.5em;
    margin-bottom: 0 !important; }
  .form-group * {
    margin: 0; }
  .main-search form button {
    height: 100% !important;
    margin: 0;
    width: 20%;
    font-size: 1.2rem !important; }
  .main-search form button span i {
    font-size: 1.5rem !important; }
  .mySlickCarousel.icon-carousel .icon-item .icon-text {
    font-size: 0.6em;
    font-family: 'Roboto Slab', serif !important; }
  /* Jumbotron */
  .jumbotron .jumbotron-hero {
    background-size: cover;
    background-position: center;
    /* background-size: 180%!important;
    background-position: 50%!important; */
    background-repeat: no-repeat;
    background-attachment: fixed; }
  .jumbotron .jumbotron-left {
    position: relative !important;
    padding: 5em;
    left: 10%;
    z-index: 1;
    align-items: center; }
  .download-images .download-images-gp {
    width: 65%; }
  .download-images .download-images-appst {
    width: 60%; } }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .mainCarouselContainer img {
    width: 100% !important;
    height: auto !important; }
  .mySlickCarousel.icon-carousel .icon-item .icon-text {
    font-size: 0.55em;
    font-family: 'Roboto Slab', serif !important; } }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .download-images .download-images-gp {
    width: 55%; }
  .download-images .download-images-appst {
    width: 50%; } }
